@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(215, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: gray;
}
header h1 {
    text-align: center;
    padding: 10px;
}
header menu { 
    display: none;
}
header > span#burguer {
    background-color: rgb(54, 54, 54);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}header > span#burguer:hover {   
    background-color: white;
    color: black;
    cursor: pointer;
}
header > menu > ul > li {
    background-color: rgb(78, 77, 77);
    list-style-type: none;
    margin-top: 3px;
}
header > menu > ul > li > a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}
header > menu > ul > li > a:hover {
    background-color: rgb(172, 171, 171);
    color: black;
    text-decoration: underline;
    font-weight: bolder;
}
main {
    background-color: white;
    padding: 10px;
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;

}
main h1 {
    padding: 10px;
}
main p {
    margin: 10px;
    text-align: justify;
    text-indent: 2px;
}
main > article > h2 {
    padding-bottom: 20px;
}
