@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}
main {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}
section#loguin {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.294) ;

    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}
div#imagem {
    display: block;
    background-color: black;
    height: 200px;
    background-image: url(pexels-david-underland-3523621.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
div#formulario > h1 {
    text-align: center;
}
div#formulario > p {
    text-align: center;
}
div#formulario {
    padding: 10px;
}
form > div#campo {
    background-color: blueviolet;
    margin: 5px 0px;
    border-radius: 10px;
    border: 2px solid blueviolet ;
}
div#campo span {
    font-size: 30px;
   
    color: white;
    padding: 5px;
    transform: translateY(8px);
    
}
 div#campo input {
    background-color: rgb(192, 247, 192);
    width: calc(100% - 45px);
    height: 60px;
    border-radius: 10px;
    font-size: 1.2em;
}
div#campo label {
    display: none;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgb(121, 227, 121);
}
form > button {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}