@charset "UTF-8";

@media screen and (min-width: 768px) {
    main {
        display: block;
        width: 100vw;
        height: 100vh;

        background-image: url(pexels-engin-akyurt-2092075.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    section#loguin {
        width: 70vw;
        height: 70vh;
        
    }
    div#imagem {
        float: left;
        width: 40%;
        height: 100%;

    }
    div#formulario {
        float: right;
        width: 60%;
        padding-left: 10px;
        padding-top: 10px;
        
    }
}

@media screen and (min-width: 1200px) {
    main {
        background-color: gray;
        background-image: none;
        
    }
    section#loguin {
        width: 90vw;
        height: 70vh;
        
    }
    div#imagem {
        float: right;
        width: 40%;
        height: 100%;

    }
    div#formulario {
        float: left;
        width: 60%;
        padding-left: 10px;
        padding-top: 10px;
    }
    
}